In [2]:
import pandas as pd

# DataFrame, Series

In [7]:
s1 = pd.core.series.Series([1, 2, 3])
s2 = pd.core.series.Series(['one', 'two', 'three'])

df = pd.DataFrame(data=dict(num=s1, word=s2))

print(df)

   num   word
0    1    one
1    2    two
2    3  three

# read File to DataFrame

In [20]:
# read csv
df = pd.read_csv('friend_list.csv')
print(df)

# read txt
df = pd.read_csv('friend_list.txt')
print(df)

# custom delimiter
df = pd.read_csv('friend_list_tab.txt', delimiter='\t')
print(df)

# custom header
df = pd.read_csv('friend_list_no_head.csv', header= None, names = ['name', 'age', 'job'])
print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern
    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern
    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern
    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

# create DataFrame

## from dictionary

In [33]:
friend_dict_list = [ 
    {'name': 'John', 'age' : 20, 'job' : 'student'},
    {'name': 'Nate', 'age' : 30, 'job' : 'teacher'}
    ]

df = pd.DataFrame(friend_dict_list)

print(df)

# change column order
df = df[['age', 'name', 'job']]

print(df)

   name  age      job
0  John   20  student
1  Nate   30  teacher
   age  name      job
0   20  John  student
1   30  Nate  teacher

## from list

In [41]:
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]

column_name = ['name', 'age', 'job']

df = pd.DataFrame.from_records(friend_list, columns=column_name)

print(df)

   name  age      job
0  John   20  student
1  Nate   30  teacher

# write DataFrame to File

In [47]:
friend_list = [
    ['John', 20, 'student'],
    ['Jenny', 30, None],
    ['Nate', 30, 'teacher']
]

df = pd.DataFrame.from_records(friend_list, columns=['name', 'age', 'job'])

# default argument value: index=True, header=True, na_rep= None
df.to_csv('friends.csv', index=True, header=True, na_rep='-')

# select row, column

## select row

### by index

In [223]:
friend_list = [
    ['John', 20, 'student'],
    ['Jenny', 30, 'developer'],
    ['Nate', 30, 'teacher']
]

df = pd.DataFrame.from_records(friend_list, columns=['name', 'age', 'job'])

print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [224]:
# get view of 1~2 row
print(df[1:3])

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [225]:
# get view of 0, 2 row
print(df.loc[[0,2]])

   name  age      job
0  John   20  student
2  Nate   30  teacher

### by column condition

In [226]:
# get view of age > 25
print(df[df.age > 25])

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [227]:
# using query
print(df.query('age>25'))

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [228]:
# using many condition
print(df[(df.age > 25) & (df.name=='Nate')])

   name  age      job
2  Nate   30  teacher

## select column

In [229]:
friend_list = [
    ['John', 20, 'student'],
    ['Jenny', 30, 'developer'],
    ['Nate', 30, 'teacher']
]

df = pd.DataFrame.from_records(friend_list)

print(df)

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher

### by index

In [237]:
friend_list = [
    ['John', 20, 'student'],
    ['Jenny', 30, 'developer'],
    ['Nate', 30, 'teacher']
]

df = pd.DataFrame.from_records(friend_list)

print(df)

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher

In [238]:
# get 0~1 column
print(df.iloc[:, 0:2])

       0   1
0   John  20
1  Jenny  30
2   Nate  30

In [239]:
# get 1~2 row, 0~1 column
print(df.iloc[1:3, 0:2])

       0   1
1  Jenny  30
2   Nate  30

### by column name

In [240]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names=['name', 'age', 'job'])

print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [241]:
print(df[['name', 'job']])

    name        job
0   John    student
1  Jenny  developer
2   Nate    teacher
3  Julia    dentist
4  Brian    manager
5  Chris     intern

In [242]:
print(df.filter(items=['name', 'job']))

    name        job
0   John    student
1  Jenny  developer
2   Nate    teacher
3  Julia    dentist
4  Brian    manager
5  Chris     intern

In [243]:
print(df.filter(like='a', axis=1))

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [244]:
# regex format, start with 'a' column
print(df.filter(regex='^a', axis=1))

   age
0   20
1   30
2   30
3   40
4   45
5   25

In [245]:
# regex format, end with 'b' column
print(df.filter(regex='b$', axis=1))

         job
0    student
1  developer
2    teacher
3    dentist
4    manager
5     intern

# drop row, column

## by index

In [251]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names=['name', 'age', 'job'])

print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [252]:
# get view
result = df.drop(df.index[[0,2]])
print(result)

    name  age        job
1  Jenny   30  developer
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [253]:
# update DataFrame
df.drop(df.index[[0,2]], inplace=True)
print(df)

    name  age        job
1  Jenny   30  developer
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

## by condition

In [254]:
result = df[df.age > 25]
print(result)

    name  age        job
1  Jenny   30  developer
3  Julia   40    dentist
4  Brian   45    manager

## drop column

In [255]:
result = df.drop('age', axis=1)
print(result)

    name        job
1  Jenny  developer
3  Julia    dentist
4  Brian    manager
5  Chris     intern

# Add / Update row, column

## add column

In [260]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names=['name', 'age', 'job'])

print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

### with default value

In [261]:
df['salary'] = 0
print(df)

    name  age        job  salary
0   John   20    student       0
1  Jenny   30  developer       0
2   Nate   30    teacher       0
3  Julia   40    dentist       0
4  Brian   45    manager       0
5  Chris   25     intern       0

### with condition

In [262]:
import numpy as np

df['salary'] = np.where(df['job'] != 'student', 'yes', 'no')
print(df)

    name  age        job salary
0   John   20    student     no
1  Jenny   30  developer    yes
2   Nate   30    teacher    yes
3  Julia   40    dentist    yes
4  Brian   45    manager    yes
5  Chris   25     intern    yes

### with operation

In [263]:
friend_dict_list = [{'name': 'John', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 10, 'final': 30}]

df = pd.DataFrame(friend_dict_list, columns = ['name', 'midterm', 'final'])
print(df)

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30

In [264]:
df['total'] = df['midterm'] + df['final']
print(df)

    name  midterm  final  total
0   John       95     85    180
1  Jenny       85     80    165
2   Nate       10     30     40

In [265]:
df['average'] = df['total'] / 2
print(df)

    name  midterm  final  total  average
0   John       95     85    180     90.0
1  Jenny       85     80    165     82.5
2   Nate       10     30     40     20.0

### with function (apply)

#### simple function

In [266]:
grades = []

for row in df['average']:
    if row >= 90:
        grades.append('A')
    elif row >= 80:
        grades.append('B')
    else:
        grades.append('F')

df['grade'] = grades

print(df)

    name  midterm  final  total  average grade
0   John       95     85    180     90.0     A
1  Jenny       85     80    165     82.5     B
2   Nate       10     30     40     20.0     F

In [267]:
def pass_or_fail(row):
    if row != 'F':
        return 'Pass'
    else:
        return 'Fail'

df.grade = df.grade.apply(pass_or_fail)
print(df)

    name  midterm  final  total  average grade
0   John       95     85    180     90.0  Pass
1  Jenny       85     80    165     82.5  Pass
2   Nate       10     30     40     20.0  Fail

In [268]:
date_list = [['2000-06-27'], ['2007-10-27']]

df = pd.DataFrame.from_records(date_list, columns=['yyyy-mm-dd'])

print(df)

   yyyy-mm-dd
0  2000-06-27
1  2007-10-27

In [269]:
def extract_year(row):
    return row.split('-')[0]

df['year'] = df['yyyy-mm-dd'].apply(extract_year)
print(df)

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2007-10-27  2007

#### function with parameters

In [270]:
def get_age(year, current_year):
    return current_year - int(year)

df['age'] = df['year'].apply(get_age, current_year=2021)
print(df)

   yyyy-mm-dd  year  age
0  2000-06-27  2000   21
1  2007-10-27  2007   14

In [271]:
def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

df['introduce'] = df['age'].apply(get_introduce, prefix='I am ', suffix = ' years old')
print(df)

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   21  I am 21 years old
1  2007-10-27  2007   14  I am 14 years old

### mapping specific column

In [272]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names=['name', 'age', 'job'])
print(df)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [273]:
df.job = df.job.map({'student': 1, 'developer' : 2, 'teacher' : 3})
print(df)

    name  age  job
0   John   20  1.0
1  Jenny   30  2.0
2   Nate   30  3.0
3  Julia   40  NaN
4  Brian   45  NaN
5  Chris   25  NaN

### mapping all column

In [274]:
x_y = [{'x': 5.5, 'y': -5.6},
         {'x': -5.2, 'y': 5.5},
         {'x': -1.6, 'y': -4.5}]
df = pd.DataFrame(x_y)
print(df)

     x    y
0  5.5 -5.6
1 -5.2  5.5
2 -1.6 -4.5

In [276]:
import numpy as np

df = df.applymap(np.around)
print(df)

     x    y
0  6.0 -6.0
1 -5.0  6.0
2 -2.0 -4.0

## Add row (append)

In [280]:
friend_dict_list = [{'name': 'John', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 10, 'final': 30}]
df = pd.DataFrame(friend_dict_list, columns = ['name', 'midterm', 'final'])
print(df)

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30

In [281]:
df2 = pd.DataFrame([
    ['Ben', 50, 50]
], columns = ['name', 'midterm', 'final'])

print(df2)

  name  midterm  final
0  Ben       50     50

In [283]:
df = df.append(df2, ignore_index = True)
print(df)

    name  midterm  final
0   John       95     85
1  Jenny       85     80
2   Nate       10     30
3    Ben       50     50

# Group by

In [295]:
student_list = [{'name': 'John', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'sex': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Sera', 'major': "Psychology", 'sex': "female"}
         ]

df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
print(df)

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

In [296]:
result = df.groupby('major')

print(result.groups)

for name, group in groupby_major:
    print(name + ' : ' + str(len(group)))
    print(group)
    print()

{'Computer Science': Int64Index([0, 1, 6, 7], dtype='int64'), 'Economics': Int64Index([4, 5, 9], dtype='int64'), 'Physics': Int64Index([2], dtype='int64'), 'Psychology': Int64Index([3, 8, 10], dtype='int64')}
Computer Science : 4
       name             major     sex
0      John  Computer Science    male
1      Nate  Computer Science    male
6  Jeniffer  Computer Science  female
7    Edward  Computer Science    male

Economics : 3
    name      major     sex
4  Janny  Economics  female
5   Yuna  Economics  female
9  Wendy  Economics  female

Physics : 1
      name    major   sex
2  Abraham  Physics  male

Psychology : 3
     name       major     sex
3   Brian  Psychology    male
8    Zara  Psychology  female
10   Sera  Psychology  female

In [297]:
# using group to index
result = pd.DataFrame({'count' : groupby_major.size()})
print(result)

                  count
major
Computer Science      4
Economics             3
Physics               1
Psychology            3

In [298]:
# reset index
result = pd.DataFrame({'count' : groupby_major.size()}).reset_index()
print(result)

              major  count
0  Computer Science      4
1         Economics      3
2           Physics      1
3        Psychology      3

# drop duplicate

## with all columns

In [299]:
student_list = [{'name': 'John', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'sex': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Sera', 'major': "Psychology", 'sex': "female"},
                {'name': 'John', 'major': "Computer Science", 'sex': "male"},
         ]

df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
print(df)

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female
11      John  Computer Science    male

In [300]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
dtype: bool

In [301]:
result = df.drop_duplicates()
print(result)

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

## with specific columns

In [302]:
student_list = [{'name': 'John', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'sex': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Nate', 'major': None, 'sex': "male"},
                {'name': 'John', 'major': "Computer Science", 'sex': None},
         ]

df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
print(df)

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Nate              None    male
11      John  Computer Science    None

In [303]:
print(df.duplicated(['name']))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
dtype: bool

In [304]:
result = df.drop_duplicates(['name'], keep='last') # keep's default value: first
print(result)

        name             major     sex
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Nate              None    male
11      John  Computer Science    None

# NaN value

## find NaN

In [308]:
school_id_list = [{'name': 'John', 'job': "teacher", 'age': 40},
                {'name': 'Nate', 'job': "teacher", 'age': 35},
                {'name': 'Yuna', 'job': "teacher", 'age': 37},
                {'name': 'Abraham', 'job': "student", 'age': 10},
                {'name': 'Brian', 'job': "student", 'age': 12},
                {'name': 'Janny', 'job': "student", 'age': 11},
                {'name': 'Nate', 'job': "teacher", 'age': None},
                {'name': 'John', 'job': "student", 'age': None}
         ]

df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])
print(df)

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   NaN
7     John  student   NaN

In [309]:
print(df.shape)

(8, 3)

In [310]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   job     8 non-null      object
 2   age     6 non-null      float64
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes
None

In [311]:
print(df.isna())

    name    job    age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False  False   True

## change NaN

### with default value

In [313]:
df.age = df['age'].fillna(0)
print(df)

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   0.0
7     John  student   0.0

### with condition

In [314]:
# using median value
df['age'].fillna(df.groupby('job')['age'].transform('median'), inplace=True)
print(df)

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   0.0
7     John  student   0.0

# Unique value

In [305]:
job_list = [{'name': 'John', 'job': "teacher"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Fred', 'job': "teacher"},
                {'name': 'Abraham', 'job': "student"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Janny', 'job': "developer"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Obrian', 'job': "dentist"},
                {'name': 'Yuna', 'job': "teacher"},
                {'name': 'Rob', 'job': "lawyer"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Matt', 'job': "student"},
                {'name': 'Wendy', 'job': "banker"},
                {'name': 'Edward', 'job': "teacher"},
                {'name': 'Ian', 'job': "teacher"},
                {'name': 'Chris', 'job': "banker"},
                {'name': 'Philip', 'job': "lawyer"},
                {'name': 'Janny', 'job': "basketball player"},
                {'name': 'Gwen', 'job': "teacher"},
                {'name': 'Jessy', 'job': "student"}
         ]

df = pd.DataFrame(job_list, columns = ['name', 'job'])
print(df)

       name                job
0      John            teacher
1      Nate            teacher
2      Fred            teacher
3   Abraham            student
4     Brian            student
5     Janny          developer
6      Nate            teacher
7    Obrian            dentist
8      Yuna            teacher
9       Rob             lawyer
10    Brian            student
11     Matt            student
12    Wendy             banker
13   Edward            teacher
14      Ian            teacher
15    Chris             banker
16   Philip             lawyer
17    Janny  basketball player
18     Gwen            teacher
19    Jessy            student

In [306]:
print(df.job.unique())

['teacher' 'student' 'developer' 'dentist' 'lawyer' 'banker'
 'basketball player']

In [307]:
print(df.job.value_counts())

teacher              8
student              5
banker               2
lawyer               2
dentist              1
developer            1
basketball player    1
Name: job, dtype: int64

# Concatenate DataFrame

## with row

In [201]:
l1 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Fred', 'job': "developer"}]

l2 = [{'name': 'Ed', 'job': "dentist"},
      {'name': 'Jack', 'job': "farmer"},
      {'name': 'Ted', 'job': "designer"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])

In [284]:
l1 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Fred', 'job': "developer"}]
         
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
print(df1)

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer

In [285]:
l2 = [{'name': 'Ed', 'job': "dentist"},
      {'name': 'Jack', 'job': "farmer"},
      {'name': 'Ted', 'job': "designer"}]
df2 = pd.DataFrame(l2, columns = ['name', 'job'])
print(df2)

   name       job
0    Ed   dentist
1  Jack    farmer
2   Ted  designer

In [286]:
result = pd.concat([df1, df2])
print(result)

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
0    Ed    dentist
1  Jack     farmer
2   Ted   designer

In [287]:
result = pd.concat([df1, df2], ignore_index=True)
print(result)

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

In [289]:
result = df1.append(df2)
print(result)

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
0    Ed    dentist
1  Jack     farmer
2   Ted   designer

In [290]:
result = df1.append(df2, ignore_index=True)
print(result)

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

## with column

In [291]:
l3 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Jack', 'job': "developer"}]

df1 = pd.DataFrame(l3, columns=['name', 'job'])
print(df1)

   name        job
0  John    teacher
1  Nate    student
2  Jack  developer

In [292]:
l4 = [{'age': 25, 'country': "U.S"},
      {'age': 30, 'country': "U.K"},
      {'age': 45, 'country': "Korea"}]

df2 = pd.DataFrame(l4, columns=['age', 'country'])
print(df2)

   age country
0   25     U.S
1   30     U.K
2   45   Korea

In [293]:
result = pd.concat([df1, df2], axis=1, ignore_index=True)
print(result)

      0          1   2      3
0  John    teacher  25    U.S
1  Nate    student  30    U.K
2  Jack  developer  45  Korea